:root {
  --white: #fff;

  --light-gray: #f1f1f1;
  --main-purple: #4a86a4;

  --forecast-main-theme: #236f94;

  --forecast-days-button-background-color: #eceef2;
  --forecast-days-button-background-color-darkened: #caced7;
  --forecast-days-button-background-color-hover: #dfe1e7;
  --forecast-days-light-gray: #939cb0;

  --dark-ashen: #242832;
  --dark-ashen-lightened-by-7: #323846;
}
