.forecast-table {
  table-layout: fixed;
  border-spacing: 5px 8px;
}

.forecast-table__head {
  text-align: left;
}

.forecast-table__header {
  padding: 15px;
  font-weight: normal;
}

.forecast-table__header,
.forecast-table__row {
  border-bottom: 1px solid #e5e5e5;
}
