.forecast-days {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 40px;

  background-color: var(--white);
}

@media (max-width: 380px) {
  .forecast-days {
    padding: 15px;
  }
}
