.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 60px 0 60px;
  min-height: 120px;
  background-color: var(--forecast-main-theme);
}

.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__input-container {
  position: relative;
  max-width: 800px;
  min-width: 190px;

  flex: 1;
}

.search-form__input {
  width: 100%;
}

.search-form__clear-input {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-image: url('../assets/img/close.svg');
}

.search-form__clear-input:hover {
  transform: scale(1.1);
}

.search-form__clear-input:active {
  transform: scale(0.9);
}

.search-input {
  outline: none;
  border: none;
  border-radius: 8px 0 0 8px;
  font-size: 1.2rem;
  padding: 15px;
}

.search-input:invalid {
  color: red;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button,
.search-input::-webkit-search-results-button,
.search-input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.search-form__submit-button {
  color: var(--white);
  border-radius: 0 8px 8px 0;
  font-size: 1.2rem;
  padding: 15px 30px;
  background-color: var(--dark-ashen);
}

.search-form__submit-button:hover {
  background-color: var(--dark-ashen-lightened-by-7);
}

@media (max-width: 500px) {
  .header {
    padding: 25px;
  }

  .search-input {
    font-size: 1rem;
  }

  .search-form__submit-button {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .header {
    padding: 15px;
  }
}
