.hourly-forecast-cards {
  position: absolute;
  left: 0;

  display: flex;
  gap: var(--hourly-card-gap);

  user-select: none;
  touch-action: none;
}

.hourly-forecast-cards_slider {
  transition-duration: 480ms;
}

.hourly-forecast-cards:hover {
  cursor: pointer;
}
