.selected-day-forecast {
  background-color: var(--forecast-main-theme);
  padding: 30px;
  border-radius: 8px;

  color: var(--white);
  min-height: 430px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-day-forecast__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}

.selected-day-forecast__heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected-day-forecast__address {
  font-size: 1.3rem;
  font-weight: 700;
}

.selected-day-forecast__yesterday-wrapper {
  display: flex;
  gap: 10px;

  font-size: 1rem;
  font-weight: 400;
}

.selected-day-forecast__main-info-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;

  font-size: 1rem;
  font-weight: 400;
}

.selected-day-forecast__temp {
  font-size: 4rem;
}

.selected-day-forecast__icon {
  width: 100px;
  height: 50px;
}

.selected-day-forecast__main-text-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feels-like__text {
  opacity: 0.7;
}

.selected-day-forecast__additional-info-wrapper {
  display: flex;
  gap: 40px;
}

.selected-day-forecast__wind,
.selected-day-forecast__humidity,
.selected-day-forecast__pressure {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-day-forecast__hours {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-top: 1px solid rgb(255 255 255 / 0.3);
  padding-top: 25px;

  /* height: 90px; */
}
