.selected-day-weather {
  background-color: var(--selected-day-weather);
  padding: 30px;
  border-radius: 8px;

  color: var(--white);
}

.selected-day-weather__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.selected-day-weather__heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected-day-weather__address {
  font-size: 1.3rem;
  font-weight: 700;
}

.selected-day-weather__yesterday-wrapper {
  display: flex;
  gap: 10px;

  font-size: 1rem;
  font-weight: 400;
}

.selected-day-weather__current-time {
  opacity: 0.7;
}

.yesterday__text {
  opacity: 0.7;
}

.selected-day-weather__main-info-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;

  font-size: 1rem;
  font-weight: 400;
}

.selected-day-weather__temp {
  font-size: 4rem;
}

.selected-day-weather__icon {
  width: 100px;
  height: 50px;
}

.selected-day-weather__main-text-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.feels-like__text {
  opacity: 0.7;
}

.selected-day-weather__additional-info-wrapper {
  display: flex;
  gap: 40px;
}

.selected-day-weather__wind,
.selected-day-weather__humidity,
.selected-day-weather__pressure {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-day-weather__hours {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-top: 1px solid rgb(255 255 255 / 0.3);
  padding: 25px 0 25px 0;
}
