.ten-day-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 14px 0;
  border-radius: 8px;

  flex: 1;
}

.ten-day-card__week-day {
  font-size: 1.2rem;
}

.ten-day-card__day {
  color: var(--forecast-days-light-gray);
}

.ten-day-card__temps {
  display: flex;
  gap: 10px;
}

.ten-day-card__temp:last-child {
  color: var(--forecast-days-light-gray);
}

.ten-day-card__icon {
  width: 64px;
  height: 64px;
}
