.ten-day-forecast {
  display: flex;
  justify-content: center;
  min-height: 165px;
}

.ten-day-forecast__list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.ten-day-forecast__card-button {
  display: flex;
  font-size: 1rem;

  border-radius: 8px;
  flex: 1;
}
