.ten-day-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 165px;
}

.ten-day-forecast__list {
  display: flex;
  gap: 8px;
  flex: 1;
}

.ten-day-forecast__card-button {
  display: flex;
  font-size: 1rem;

  border-radius: 8px;
  flex: 1;
}

@media (max-width: 980px) {
  .ten-day-forecast__list {
    overflow-x: scroll;
  }
}
