.thirty-day-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 165px;
}

.thirty-day-forecast__table {
  width: 100%;
}

.thirty-day-forecast__card-button {
  border-radius: 8px;
  font-size: 1rem;
}
