@import url('./css/size-variables.css');
@import url('./css/color-variables.css');
@import url('./css/button-animated.css');
@import url('./css//loader.css');
@import url('./css/main.css');
@import url('./css/header.css');
@import url('./css/container.css');
@import url('./css/selected-day-forecast.css');
@import url('./css/forecast-days.css');
@import url('./css/forecast-card-button.css');
@import url('./css/select-period.css');
@import url('./css/ten-day-forecast.css');
@import url('./css/ten-day-card.css');
@import url('./css/thirty-day-forecast.css');
@import url('./css/forcast-table.css');
@import url('./css/thirty-day-card.css');
@import url('./css/hours.css');
@import url('./css/hourly-forecast-cards.css');
@import url('./css/hour-forecast-card.css');
@import url('./css/hidden.css');

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-stretch: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: 'Inter', Arial, Helvetica, system-ui, 'Segoe UI';
}

body * {
  font-family: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.6;
}

button:hover:disabled {
  opacity: 0.6;
}
